*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

#playground,
html,
body {
  height: 100%;
  overflow: hidden;
}
*/ body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

.hand {
  padding: 30px;
  font-size: 100px;
  position: absolute;
  top: 0px;
  left: 0px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  display: none;
}

header {
  background-color: white;
  overflow: hidden;
  position: absolute;
  text-align: center;
  z-index: 10;
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
  padding: 8px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
